@use "styles/utils/breakpoint" as bp;
@use "styles/utils/unit" as u;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: u.rem-calc(20);
}

.userNavigation {
	display: flex;
	flex-wrap: wrap;
	gap: u.rem-calc(35);

	@include bp.down(sm) {
		gap: u.rem-calc(15);
	}
}

.logout {
	margin-left: auto;

	@include bp.down(sm) {
		margin: unset;
	}
}