@use "styles/utils/unit" as u;

.wrapper {
	max-width: u.rem-calc(600);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: u.rem-calc(40);
}

.info {
	font-size: u.rem-calc(20);
}