@use "styles/utils/breakpoint" as bp;
@use "styles/utils/theme" as t;
@use "styles/utils/unit" as u;

.topBar {
	padding-top: u.rem-calc(20);
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: u.rem-calc(30);
	
	@include bp.down(md) {
		padding-top: u.rem-calc(10);
		margin-bottom: u.rem-calc(20);
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: u.rem-calc(40);
	gap: u.rem-calc(30);
	overflow-y: hidden;
	overflow-x: auto;

	&::-webkit-scrollbar {
		display: none;
	}
	
	@include bp.down(md) {
		margin-bottom: u.rem-calc(30);
	}
}

.navLink {
	font-weight: 600;
	white-space: nowrap;
	position: relative;
	padding: u.rem-calc(4);
	letter-spacing: u.rem-calc(1.2);
	transition: 0.25s;

	&::before {
		transition: 0.25s;
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 100%;
		opacity: 0;
		left: 0;
		z-index: -1;
		background: t.color(navigation-item-background-active);
		border-radius: u.rem-calc(3);
	}
}

.is-active {
	color: t.color(navigation-item-color-active);
	
	&::before {
		top: 0;
		opacity: 1;
	}
}