@use "styles/utils/breakpoint" as bp;
@use "styles/utils/unit" as u;

.topBar {
	padding-top: u.rem-calc(20);
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: u.rem-calc(30);
	
	@include bp.down(md) {
		padding-top: u.rem-calc(10);
		margin-bottom: u.rem-calc(20);
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: u.rem-calc(40);
	
	@include bp.down(md) {
		margin-bottom: u.rem-calc(30);
	}
}
