/**
 * Variables
 */

$colors: (
	box-border: darkGrey,
	button-alert: red,
	button-disabled: darkGrey-2,
	button-hover-color: black,
	button-primary: white,
	card-images-count: grey,
	checkbox: white,
	extras-popup-info: grey,
	favories-background: black,
	favories-icon-color: white,
	images-preview-nav-item-active-border: white,
	images-preview-nav-item-border: black,
	item-preview-extras-color: grey,
	linked-icon-color: white,
	linked-icon-count-background: white,
	linked-icon-count-border: black,
	linked-icon-count-color: black,
	loader: white,
	log-in-info-coupon-color: grey,
	logo-color: white,
	order-expand-color: white,
	page-background: black,
	page-color: white,
	price-cross-color: white,
	price-discounted-color: gray,
	scroll-thumb-color: white,
	scroll-track-color: darkGrey,
	separator: white,
	slider-button-background: black,
	slider-button-icon-color: white,
	navigation-item-color-active: black,
	navigation-item-background-active: white,
	form-error: red,
	form-border-color: white,
);
