/**
 * Variables
 */

$colors: (
	button-alert: red,
	button-disabled: darkGrey-2,
	button-hover-color: black,
	button-primary: white,
	checkbox: white,
	favories-background: black,
	favories-icon-color: white,
	linked-icon-color: white,
	linked-icon-count-background: white,
	linked-icon-count-border: black,
	linked-icon-count-color: black,
	logo-color: white,
	page-background: black,
	page-color: white,
	price-cross-color: white,
	price-discounted-color: gray,
	separator: white,
	slider-button-background: black,
	slider-button-icon-color: white,
);
