/**
 * Variables
 */

$colors: (
	favories-background: black,
	favories-icon-color: white,
	linked-icon-color: white,
	linked-icon-count-background: white,
	linked-icon-count-border: black,
	linked-icon-count-color: black,
	logo-color: white,
	page-background: black,
	page-color: white,
);
