/**
 * Variables
 */
@use "styles/utils/unit" as u;

$fonts: (
	primary: (
		"Poppins",
		sans-serif,
	),
);

$colors: (
	black: #070707,
	white: #E6E6E6,
	grey: #787878,
	darkGrey: #202020,
);

$breakpoints: (
	xs: 384,
	sm: 576,
	md: 768,
	lg: 960,
	xl: 1152,
	xxl: 1420,
);
