@use "styles/utils/breakpoint" as bp;
@use "styles/utils/unit" as u;

$containers-height: calc(100vh - u.rem-calc(300));

.layout {
	display: flex;
	gap: u.rem-calc(20);
	flex-direction: column;
}

.wrapper {
	display: flex;
	gap: u.rem-calc(10);
	height: $containers-height;
	
	@include bp.down(xl) {
		height: unset;
		flex-direction: column;
	}
}

.cart {
	display: flex;
	flex-direction: column;
	gap: u.rem-calc(25);
	min-width: u.rem-calc(600);
	
	@include bp.down(xl) {
		min-width: unset;
		width: 100%;
	}
}

.cartItems {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: u.rem-calc(25);
	padding-right: u.rem-calc(10);
}

.checkout {
	width: 100%;
	height: 100%;
}

.innerCheckout {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkoutSteps {
	width: 100%;
	max-width: u.rem-calc(284);
}