/**
 * Global styles
 */

@use "styles/utils/font" as f;
@use "styles/utils/theme" as t;
@use "styles/utils/unit" as u;

body {
	background: t.color(page-background);
	font-family: f.get(primary);
	overflow-x: hidden;

	::-webkit-scrollbar {
        width: u.rem-calc(3);
		border-radius: u.rem-calc(20);
    }

    ::-webkit-scrollbar-track {
        background: t.color(scroll-track-color);
		border-radius: u.rem-calc(8);
    }
	
    ::-webkit-scrollbar-thumb {
		background: t.color(scroll-thumb-color);
		border-radius: u.rem-calc(8);
    }
}

*,
*::before,
*::after {
	box-sizing: border-box;
	color: t.color(page-color);
	margin: 0;
	padding: 0;
}
