@use "styles/utils/breakpoint" as bp;
@use "styles/utils/theme" as t;
@use "styles/utils/unit" as u;

$padding: u.rem-calc(60);
$padding-mobile: u.rem-calc(30);

.popup {
	align-items: center;
	background: rgba(19, 19, 19, 0.8);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: 0.2s ease;
	width: 100%;
	z-index: 10000;

	.content {
		box-sizing: border-box;
		display: block;
		max-height: calc(100vh - $padding);
		opacity: 0;
		overflow-x: hidden;
		overflow-y: auto;
		transform: scale(0.8);
		transition: 0.2s ease;
		padding: u.rem-calc(24);
		max-width: calc(100% - $padding);
		width: fit-content;

		@include bp.down(sm) {
			max-height: calc(100vh - $padding-mobile);
			max-width: calc(100% - $padding-mobile);
		}
	}

	&.is-visible {
		opacity: 1;
		pointer-events: all;
		transition: 0.2s ease;

		.content {
			opacity: 1;
			transform: scale(1);
			transition: 0.2s 0.2s ease;
		}
	}
}