@use "styles/utils/breakpoint" as bp;
@use "styles/utils/unit" as u;

.header {
	font-size: u.rem-calc(36);

	&::first-letter {
		text-transform: uppercase;
	}
	
	@include bp.down(sm) {
		font-size: u.rem-calc(32);
	}
}