@use "styles/utils/breakpoint" as bp;
@use "styles/utils/theme" as t;
@use "styles/utils/unit" as u;

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: u.rem-calc(40);
	
	@include bp.down(lg) {
		flex-direction: column;
		gap: u.rem-calc(25);
	}
}

.aside {
	display: flex;
	flex-direction: column;
	gap: u.rem-calc(40);
	transition: padding 0.2s ease;
	
	@include bp.down(lg) {
		gap: u.rem-calc(20);
	}

	&.is-sticky {
		padding-top: u.rem-calc(40);
	}
}

.description {
	font-size: u.rem-calc(14);
}

.images {
	min-width: u.rem-calc(740);
	display: flex;
	flex-direction: column;
	gap: u.rem-calc(20);
	justify-content: center;
	
	@include bp.down(xl) {
		min-width: u.rem-calc(560);
	}

	@include bp.down(lg) {
		max-width: unset;
		min-width: unset;
	}
}

.sticky {
	width: 100%;

	@include bp.down(lg) {
		max-width: unset;
	}
}